@media all and (max-width: 670px) {
    .body-contents {
      width: 100%;
      text-align: left;
    }
    
    footer {
      text-align: center;
    }
    
    .Image {
      font-size: 30px;
      line-height: 36px;
    }
    
    .body-contents p {
      font-size: 14px;
      line-height: 20px;
    }
  }