* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: rgb(241, 236, 232);
}
.logo {
    height: 55px;
    width: 150px;
    float: left;
    padding: 10px;
    margin-top: 8px;
}
header{
    height: 70px;
    width: 100%;
    background-color: rgba(15, 26, 31, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
    padding: 0 15px;
}
.menu a {
    float: right;
    text-decoration: none;
    color: white;
    margin: 0 20px 0 20px;
    line-height: 30px;
    padding: 20px;
    font-size: large;
}
.menu a:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
.Image h1{
    font-size: 70px;
    color: black;
    font-family: 'Times New Roman';
    letter-spacing: 3px;
    opacity: 0.7;
    margin: 0;
    padding: 0 10px 0 50px;
}
.Image h2{
    font-size: 40px;
    padding-left: 50px;
    opacity: 0.7;
    font-family: Arial, Helvetica, sans-serif;
}
.Image {
    background-image: url(Portfolio.jpg);
    background-size: cover;
    padding: 150px 0 300px 0;
    margin: 0;
}
.body-contents h2 {
    font-size: 35px;
    font-family: Cambria;
    opacity: 0.8;
    padding-left: 30px;
}
.body-contents p{
    font-family: sans-serif;
    padding-left: 90px;
    width: 65%;
    font-size: 18px;
}
li {
    list-style: none;
    font-family: sans-serif;
    padding-left: 90px;
    font-size: 18px;
}
footer{
    text-align: center;
    font-family: "Lucida Grande";
    font-size: 20px;
}
.bottom h2{
    border-bottom: 1px solid #c6e7cdfb;
    padding: 15px;
    margin-bottom: 30px;
    font-size: 21px;
    opacity: 0.7;
}
.button {
    margin: 20px 0;
}
.button a{
    text-decoration: none;
    font-size: 25px;
    margin: 45px;
}
.linkedin {
    color: rgb(40, 40, 160);
}
.github {
    color: green;
}
.envelope {
    color: rgb(214, 12, 12);
}
.fa {
    margin-right: 7px;
}
.project-title{
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid rgb(223, 235, 243);
    background-color: rgb(106, 102, 163);
    color: rgb(12, 6, 41);
    font-size: 25px;
    border-radius: 4px;
    opacity: 0.8;
}
.project-title:hover{
    background-color: rgb(156, 150, 207);
}
.bottom {
    margin: 65px 0;
}
